/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


a {
  color: #0077cc;
}



.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

/* Buscador */

/* Navbar */

.sas{
    width: 100%;
    margin: 0;
    padding: 10;
    box-sizing: border-box;
    background-color: #ffffff;
    border-bottom:1px solid #e85909;
    box-shadow: -1px -1px 2px 2px #e85909;
}

 
li,a,button {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: edf0f1;
    text-decoration: none;
}
 
header
{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 30px 10%;
}
 
#logo
{
    width: 100px;
    height: 150px;
    cursor: pointer;
    
}
 
.nav__links {
  
    flex-flow:wrap;
    list-style: none;
    justify-content: center;
   
    
 
}
 
.nav__links li {
  
    display: inline-block;
    padding: 0px 20px;
}
 
.nav__links li a {
    transition: all 0.3s ease 0s;
    color: white;
 
}
 
.nav__links li a:hover {
    color: #131212;
}
 
button
{
    color: white;
    padding: 9px 25px;
    background-color: rgb(15, 15, 15);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.nav__abajo
{width: 100%;
  background-color: #e85909;
    flex-flow:wrap;
    list-style: none;
    justify-content: center;
    color: #ffffff;
}
.nav__abajo li
{
  display: inline-block;
    padding: 0px 20px;
}
.nav__abajo li a
{
  transition: all 0.3s ease 0s;
  color: white;
}
.nav__abajo li a:hover {
  color: #131212;
}

/* btn navbar */  


.contenedor-sign-up .btnInicioSesion
{
  background-color: #ffffff;
  color: #e85909;
  cursor: pointer;
}

/*Filtros*/

.filtros
{
width: 25%;
justify-content: space-between;
display: flex;
left: 37%;
position: relative;
}
a.btnf {
 
	box-shadow: 1px 2px 1px 1px rgba(0,0,0,0.25);
  color: #ffffff;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
	
  border: 0px solid black;
}


/*search*/

.search
{
  position:absolute;
  left: 20%;
  color: #000000;
  top: 5%;

}

#txt
{
  width: 1000px;
  height: 45px;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 1px 2px 1px 1px rgba(0,0,0,0.25);
  border: 0px ;
}
#txt::after
{
  
  color: #000000;
}

#searchbtn
{
  width: 100px;
  height: 42px;
  background-color: #ffffff;
  box-shadow: 1px 2px 1px 1px rgba(0,0,0,0.25);
  color: #e85909;
  border: 0px solid black;

}
#searchbtn:hover
{
  background-color: #e85909;
  box-shadow: 1px 2px 1px 1px rgba(0,0,0,0.25);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;

  color: #ffffff;
  
}

/* signup */
.contenedor-sign-up
{
  position: absolute;
  justify-content: space-between;

  padding: 5px;
  left: 80%;
  top: 5%;
}

/* modal btnse*/
.modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s .9s;
  --transform: translateY(-100vh);
  --transition: transform .8s;
  box-shadow: 5px 10px rgba(26, 2, 2, 0.075);
}

.modal--show{
  opacity: 1;
  pointer-events: unset;
  transition: opacity .6s;
  --transform: translateY(0);
  --transition: transform .8s .8s;
}

.login
{
  width: 100px;
  height: 35px;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 1px 2px 1px 1px rgba(0,0,0,0.25);
  border: 0px ;
}
.txts
{
  width: 300px;
  height: 35px;
  background-color: #ffffff;
  color: #000000;
  
  border: 0px ;
}


.modal__container{
  margin: auto;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  background-color: #ffffff;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
  transform: var(--transform);
  transition:var(--transition);

}

.modal__title{
  font-size: 2.5rem;
  color: #e85909;
  
}

.modal__paragraph{
  margin-bottom: 10px;
}

.modal__img{
  width: 90%;
  max-width: 300px;
}


form .signup-link a:hover{
color: white;
text-decoration: underline;
cursor:pointer;
}




.center form{
margin-top: -20px;
color: white;

}

.center form .login{
height: 45px;
width: 100%;
margin: 50px 0;


}



form .login label{
font-size: 18px;
}


form .data input{
height: 100%;
width: 100%;
padding-left: 5px;
font-size: 17px;
border:1px solid silver;
}


.modale{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s .9s;
  --transform: translateY(-100vh);
  --transition: transform .8s;
  box-shadow: 5px 10px rgba(26, 2, 2, 0.075);
  z-index: 3;
}

.modale.modal--show{
  opacity: 1;
  pointer-events: unset;
  transition: opacity .6s;
  --transform: translateY(0);
  --transition: transform .8s .8s;
}

.modale.login
{
  width: 100px;
  height: 35px;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 1px 2px 1px 1px rgba(0,0,0,0.25);
  border: 0px ;
}
.modale#txts
{
  width: 300px;
  height: 35px;
  background-color: #ffffff;
  color: #000000;
  
  border: 0px ;
}


.modale.modal__container{
  margin: auto;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  background-color: #ffffff;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
  transform: var(--transform);
  transition:var(--transition);

}

.modale.modal__title{
  font-size: 2.5rem;
  color: #e85909;
  
}

.modale.modal__paragraph{
  margin-bottom: 10px;
}

.modale.modal__img{
  width: 90%;
  max-width: 300px;
}


.modale form .signup-link a:hover{
color: white;
text-decoration: underline;
cursor:pointer;
}




.modale .center form{
margin-top: -20px;
color: white;

}

.modale .center form .login{
height: 45px;
width: 100%;
margin: 50px 0;


}



.modale form .login label{
font-size: 18px;
}


.modale form .data input{
height: 100%;
width: 100%;
padding-left: 5px;
font-size: 17px;
border:1px solid silver;
}
