@{
  ViewData["Title"] = "Articulo";
}


<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap">

  
<div class="contenedorA">


  <img src="" alt="">




</div>  


