
<div class="conatiner">

  so
</div>  
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img
        src="https://www.dexter.com.ar/dw/image/v2/BDTF_PRD/on/demandware.static/-/Sites-Dexter-Library/default/dwf604de90/cybermonday22/full1cyber1.jpg?sw=1440&sfrm=png"
        style="max-width:2500px;  min-height:400px;" class="d-block w-100">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
     <img
        src="https://www.dexter.com.ar/dw/image/v2/BDTF_PRD/on/demandware.static/-/Sites-Dexter-Library/default/dw312f13c2/cybermonday22/full3adidascyber.jpg?sw=1440&sfrm=jpg"
        style="max-width:2500px;  min-height:400px;" class="d-block w-100">
    </div>
    <div class="carousel-item"data-bs-interval="3000" >
       <img
        src="https://www.dexter.com.ar/dw/image/v2/BDTF_PRD/on/demandware.static/-/Sites-Dexter-Library/default/dwc010605f/cybermonday22/full2cyberV2lotto.jpg?sw=1440&sfrm=png"
        style="max-width:2500px;  min-height:400px;" class="d-block w-100">
    </div>
  </div>
 
</div>